<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Bjr11 i - plateforme de solution Informatique</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bjr11.i - plateforme de solution Informatique" name="description">

        <!-- Favicon -->
        <link href="../../public/img/logo.png" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../../public/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../../public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../../public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../../public/css/style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand ">Bjr11.i </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="#home" class="nav-item nav-link active">Accueil</a>
                        <a href="#about" class="nav-item nav-link">Apropos</a>
                        <a href="#service" class="nav-item nav-link">Service</a>
                        <a href="#experience" class="nav-item nav-link">Experience</a>
                        <a href="#portfolio" class="nav-item nav-link">Réalisations</a>
                        <a href="#price" class="nav-item nav-link">Partenaires</a>
                        <a href="#review" class="nav-item nav-link">Clients</a>
                        <a href="#team" class="nav-item nav-link">La Team</a>
                        <!--a href="#blog" class="nav-item nav-link">Blog</a-->
                        <a href="#contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Hero Start -->
        <div class="hero" id="home">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-content">
                            <div class="hero-text">
                                <p>Nous sommes une plateforme des solutions Informatiques</p>
                                <h1>Bjr 11.i</h1>
                                <h2></h2>
                                <div class="typed-text">Développeurs web, Développeurs Mobile, Développeurs FullStack, Analyste Programmeur, Graphiste et Designers</div>
                            </div>
                            <div class="hero-btn">
                                <a class="btn" href="#service">Services</a>
                                <a class="btn" href="#contact">Contactez Nous</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
                            <img src="../../public/img/hero.png" alt="Hero Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="../../public/img/our_img.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header text-left">
                                <p>Apropos de nous</p>
                                <h2>5 ans d'Experience</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    Grâce à notre équipe très expériemente et à partir de compétances de chacune de personnes
                                    qui composent cette équipe, nous sommes fier de vous servir et de vous donner toujours le meilleur.
                                    Nos différentes compétances telsque; 

                                </p>
                            </div>
                            <div class="skills">
                                <div class="skill-name">
                                    <p>Développement Web</p><p>95%</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="skill-name">
                                    <p>Développement Mobile</p><p>75%</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="skill-name">
                                    <p>Analyste Programmeur</p><p>90%</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <a class="btn" href="#service">en savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Service Start -->
        <div class="service" id="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>ce que Nous faisons</p>
                    <h2>Services de Qualité Exceptionnelle</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-laptop-code"></i>
                            </div>
                            <div class="service-text">
                                <h3>Développement Web</h3>
                                <p>
                                    Concevoir et construire de <b>Site Web, Application web et Mobile interactives et surmesure</b>
                                    pour répondre aux besoins spécifiques de chaque entreprise et personnes
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fab fa-apple"></i>
                            </div>
                            <div class="service-text">
                                <h3>Dév. Application Mobile</h3>
                                <p>
                                    Vos services accessible à partir d'un smartphone ou tablette, c'est notre boulot.
                                    Nous développons des applis dans des outils adaptés et performant, en  s'appuyant sur les experts du domaine.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fab fa-android"></i>
                            </div>
                            <div class="service-text">
                                <h3> Analyste Programmeur</h3>
                                <p>
                                    Pour tous les problèmes, nos Analystes programmeurs disposent de capacités en matière d'analyse, 
                                    de codage et de résolution de problèmes complexes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-user-edit"></i>
                            </div>
                            <div class="service-text">
                                <h3>Graphiste / Designer</h3>
                                <p>
                                    Ils transforment vos idées et vos objectifs en images, couleurs et formes pour transmettre un message
                                    Créer une identité visuelle pour de personnes ou d'une entreprise
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        
        
         <!-- Experience Start -->
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Nos Réalisations</p>
                    <h2>Experience du Travail</h2>
                </header>
                <div class="timeline">
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Septembre 2022</div>
                            <h2>Bjr 11 Center</h2>
                            <h4>Centre Médical Saint Paul, Kinshasa, RDC</h4>
                            <p>
                                Développement d'une application web qui est utilisé comme un hôpital en ligne,
                                cette appli permet aux patients d'acceder aux différents service en ligne.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Aôut 2022</div>
                            <h2>Stapp for Students</h2>
                            <h4>Entreprise Publique, Kinshasa, RD congo</h4>
                            <p>
                                Développement d'une application web pour gérer les stagiaires d'une entreprise publique,
                                cette appli permet aux étudiants de faire une demande de stage et tous les suivis à partir de leurs smartphone et tablettes.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Mars 2023</div>
                            <h2>Site web de Smart Consulting</h2>
                            <h4>Smart Consulting, Kinshasa, RD Congo</h4>
                            <p>
                                Nous avons développé un site web pour permettre à l'entreprise Smart Consulting de gérer
                                ses différentes opérations à partir de ce site web.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Mars 2022</div>
                            <h2>Kin Bouffe</h2>
                            <h4>Restaurant Kin Bouffe, Kinshasa/Lingwala, RD Congo</h4>
                            <p>
                                La première application en RDC qui nous permet d'avoir un restaurant en ligne, tout se passe sur votre smartphone, sans pourtant vous
                                déplacer vous pouvez commander votre repas en deux clics seulement...☺Bon appétit
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Travail en cours...</div>
                            <h2>Lobiko</h2>
                            <h4>Centre Hospitalier La main sur le coeur, Kinshasa/Ngaliema, RD Congo</h4>
                            <p>
                                Une assistante médicale disponible h24, pour répondre à tous vos problèmes de santé, dites à Lobiko ce qui vous dérange
                                et elle s'occupera de vous donner la solution qu'il faut.
                            </p>
                        </div>
                    </div>
                    <!--div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2045 - 2050</div>
                            <h2>Web Developer</h2>
                            <h4>Soft Agency, San Francisco, CA</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
                            </p>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
        <!-- Job Experience End -->
        
        
        <!-- Banner Start -->
        <div class="banner wow zoomIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    <p>Le prix raisonnable</p>
                    <h2>Payer selon votre <span>Budget</span> </h2>
                </div>
                <div class="container banner-text">
                    <p>
                        Connaissant le défi de chaque entreprise et personne, <b>Bjr 11</b> propose un type de paiement adapté selon votre budget ou votre revenu,
                        dans l'objetif de répondre totalement à vos besoins, nous offrons un service de qualité selon votre budget
                    </p>
                    <!--a class="btn">Tarifs</a-->
                </div>
            </div>
        </div>
        <!-- Banner End -->


        <!-- Portfolio Start -->
        <div class="portfolio" id="portfolio">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Notre professionnalisme</p>
                    <h2>Nos Réalisations</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul id="portfolio-filter">
                            <li data-filter="*" class="filter-active">Tous</li>
                            <li data-filter=".filter-1">Dév Web</li>
                            <li data-filter=".filter-2">Application Mobile</li>
                            <li data-filter=".filter-3">Site Web</li>
                        </ul>
                    </div>
                </div>
                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="img/bjr11store.PNG" alt="Image">
                            </div>
                            <div class="portfolio-text">
                                <h3>Site eCommerce</h3>
                                <a class="btn" href="img/bjr11store.PNG" data-lightbox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="img/bouffe.jpg" alt="Image">
                            </div>
                            <div class="portfolio-text">
                                <h3>Resto Kin Bouffe</h3>
                                <a class="btn" href="img/bouffe.jpg" data-lightbox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="img/stapp.jpg" alt="Image">
                            </div>
                            <div class="portfolio-text">
                                <h3>Stapp by Students</h3>
                                <a class="btn" href="img/stapp.jpg" data-lightbox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="img/lobiko.jpg" alt="Image">
                            </div>
                            <div class="portfolio-text">
                                <h3>Lobiko Apps</h3>
                                <a class="btn" href="img/lobiko.jpg" data-lightbox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="img/portfolio-5.jpg" alt="Image">
                            </div>
                            <div class="portfolio-text">
                                <h3>Bjr11 Center</h3>
                                <a class="btn" href="img/portfolio-5.jpg" data-lightbox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="1s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="img/portfolio-6.jpg" alt="Image">
                            </div>
                            <div class="portfolio-text">
                                <h3>Bourse Apps</h3>
                                <a class="btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">+</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio End -->
        
        
        <!-- Banner Start -->
        <div class="banner wow zoomIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    <p>Reduction sur Reduction</p>
                    <h2>Gagnez <span>30%</span> de Reduction</h2>
                </div>
                <div class="container banner-text">
                    <p>
                        Recommandez un de nos services ou les services de nos partenaires, chez un de vos contacts et bénéficiez d'une réduction de 30% sur toutes vos commandes chez Nous.
                          <br>  *<small>Polique et Régles à respecter</small>
                    </p>
                    <!--a class="btn">Order Now</a-->
                </div>
            </div>
        </div>
        <!-- Banner End -->
        
        
        <!-- Price Start -->
        <div class="price" id="price">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <!--p>Grille tarifiaire</p>
                    <h2>Prix Abordable</h2-->
                    <p>Ils nous ont faits confiance</p>
                    <h2>Nos Partenaires</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="img/partenaire.jpg" alt="" class=" w-100">
                    </div>
                </div>

                <!--div class="row">
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-title">
                                    <h2>Un site web</h2>
                                </div>
                                <div class="price-prices">
                                    <h2><small>$</small>49<span>/ mo</span></h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-description">
                                    <ul>
                                        <li>Vitrine</li>
                                        <li>Font Awesome 5</li>
                                        <li>Responsive Design</li>
                                        <li>Browser Compatibility</li>
                                        <li>Easy To Use</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a class="btn" href="">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <div class="price-title">
                                    <h2>Standard</h2>
                                </div>
                                <div class="price-prices">
                                    <h2><small>$</small>99<span>/ mo</span></h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-description">
                                    <ul>
                                        <li>Bootstrap 4</li>
                                        <li>Font Awesome 5</li>
                                        <li>Responsive Design</li>
                                        <li>Browser Compatibility</li>
                                        <li>Easy To Use</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a class="btn" href="">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-title">
                                    <h2>Premium</h2>
                                </div>
                                <div class="price-prices">
                                    <h2><small>$</small>149<span>/ mo</span></h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-description">
                                    <ul>
                                        <li>Bootstrap 4</li>
                                        <li>Font Awesome 5</li>
                                        <li>Responsive Design</li>
                                        <li>Browser Compatibility</li>
                                        <li>Easy To Use</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a class="btn" href="">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>
        </div>
        <!-- Price End -->
        
        
        <!-- Testimonial Start -->
        <div class="testimonial wow fadeInUp" data-wow-delay="0.1s" id="review">
            <div class="container">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <div class="testimonial-img">
                            <img src="img/part1.jpg" alt="Image">
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Nous sommes heureux d'avoir utiliser le service de Bjr11, Ils ont crée pour nous un site
                                web impeccable, facile à utiliser et qui répond à tous nos besoins, nos clients sont content
                            </p>
                            <h3>Dean Makwaka</h3>
                            <h4>Directeur Général</h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-img">
                            <img src="img/part2.jpg" alt="Image">
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Vendre de partout et à tout moment grâce à mon site E-commerce, L'équipe de Bjr 11 ont crée pour nous Une
                                grande boutique en ligne et nous faisons de vente à partir de nos smartphones
                            </p>
                            <h3>Kevin Wepo</h3>
                            <h4>Directeur commercial</h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-img">
                            <img src="img/part3.jpg" alt="Image">
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Je fais tout mes activités, je géres tous mes clients en lign et je reçois mes paiements en un clic
                                tout ça grâce ma plateforme de formation en ligne et cette plateformeest crée par Bjr11 et je suis ravie de travailler avec eux
                            </p>
                            <h3>Elsa Mianda</h3>
                            <h4>Chef d'entreprise</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Team Start -->
        <div class="team" id="team">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>My Team</p>
                    <h2>Notre équipe d'Expert</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/team1.jpg" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Emilie Ngas</h2>
                                <h4>Graphiste</h4>
                                <p>
                                    L'équipe de Graphiste pour créer des illustrations adaptées à vos besoins
                                </p>
                                <div class="team-social">
                                    <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/team2.jpg" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Believe MB.</h2>
                                <h4>Développeur Web</h4>
                                <p>
                                    L'équipe des développeurs web très compétents pour réaliser vos apps et site web
                                </p>
                                <div class="team-social">
                                    <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/team3.jpg" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Logan Paul</h2>
                                <h4>Dév. FullStack</h4>
                                <p>
                                    Gérer votre Back end et front end pour avoir le meilleur résultat, pour vos logiciels et progiciels
                                </p>
                                <div class="team-social">
                                    <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/team4.jpg" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Josh Miand</h2>
                                <h4>Dév. Apps Mobile </h4>
                                <p>
                                    Développer une grande variète des applications mobiles utilisable dans toutes les plateformes
                                </p>
                                <div class="team-social">
                                    <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        
        
        <!-- Contact Start -->
        <div class="contact wow fadeInUp" data-wow-delay="0.1s" id="contact">
            <div class="container-fluid">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="contact-form">
                                <div id="success"></div>
                                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="name" placeholder="Votre Nom" required="required" data-validation-required-message="Ecrivez votre nom" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="email" class="form-control" id="email" placeholder="Votre Email" required="required" data-validation-required-message="Ecrivez votre email" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Sujet" required="required" data-validation-required-message="Ecrivez le sujet" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Ecrivez votre message"></textarea>
                                        <p class="help-block"></p>
                                    </div>
                                    <div>
                                        <button class="btn" type="submit" id="sendMessageButton">Envoyer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Blog Start --
        <div class="blog" id="blog">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>From Blog</p>
                    <h2>Latest Articles</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                            <div class="blog-img">
                                <img src="img/blog-1.jpg" alt="Blog">
                            </div>
                            <div class="blog-text">
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>Admin</p>
                                    <p><i class="far fa-list-alt"></i>Web Design</p>
                                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                    <p><i class="far fa-comments"></i>5</p>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet elit. Nullam commodo mattis mi. Nullam eu erat lectus. Proin viverra risus vitae luctus. Proin ut ante, vitae sapien. Fusce sem ac erat rhoncus, ornare mattis nisl massa et eros vitae pulvin
                                </p>
                                <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-item wow fadeInUp" data-wow-delay="0.3s">
                            <div class="blog-img">
                                <img src="img/blog-2.jpg" alt="Blog">
                            </div>
                            <div class="blog-text">
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>Admin</p>
                                    <p><i class="far fa-list-alt"></i>Apps Design</p>
                                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                    <p><i class="far fa-comments"></i>10</p>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet elit. Nullam commodo mattis mi. Nullam eu erat lectus. Proin viverra risus vitae luctus. Proin ut ante, vitae sapien. Fusce sem ac erat rhoncus, ornare mattis nisl massa et eros vitae pulvin
                                </p>
                                <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
        <!-- Blog End -->


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Bjr 11 Informatique</h2>
                        <!--h3>123 Street, New York, USA</h3-->
                        <div class="footer-menu">
                            <p>+243 817 723 066</p>
                            <p>bjr11informatique@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="#"> Believe MB</a>, All Right Reserved | Designed By <a href=""> Designer Club</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../../public/lib/easing/easing.min.js"></script>
        <script src="../../public/lib/wow/wow.min.js"></script>
        <script src="../../public/lib/waypoints/waypoints.min.js"></script>
        <script src="../../public/lib/typed/typed.min.js"></script>
        <script src="../../public/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../../public/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="../../public/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="../../public/js/main.js"></script>
    </body>
</html>
