<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bjr11 i - plateforme de solution Informatique</title>
    <meta content="Bjr 11.i, une plateforme qui apporte les solutions
    Informatiques qu'il faut" name="keywords">
    <meta content="Bjr 11.i, une plateforme qui apporte les solutions
    Informatiques qu'il faut" name="description">
       <!-- Favicon -->
    <link href="img/logo.png" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../public/css/style.css" rel="stylesheet">
</head>
<body  data-spy="scroll" data-target=".navbar" data-offset="51">
    <header>
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand ">Bjr11 </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="#home" class="nav-item nav-link active">Accueil</a>
                        <a href="#about" class="nav-item nav-link">Apropos</a>
                        <a href="#service" class="nav-item nav-link">Service</a>
                        <a href="#experience" class="nav-item nav-link">Experience</a>
                        <a href="#portfolio" class="nav-item nav-link">Réalisations</a>
                        <a href="#price" class="nav-item nav-link">Partenaires</a>
                        <a href="#review" class="nav-item nav-link">Clients</a>
                        <a href="#team" class="nav-item nav-link">La Team</a>
                        <!--a href="#blog" class="nav-item nav-link">Blog</a-->
                        <a href="#contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>